<h1>Action Prompt Previews</h1>

<% if @previews.any? %>
  <% @previews.each do |preview| %>
    <h3><%= preview.preview_name %></h3>
    <% preview.prompts.each do |prompt| %>
      <p><%= link_to prompt, "/action_prompt/preview/#{prompt}" %></p>
    <% end %>
  <% end %>
<% else %>
  <p>You have not defined any Action Prompt Previews.</p>
  <!-- TODO: Add a link to the Action Prompt documentation here -->
<% end %>