<h1 class="text-xl font-semibold">
  <%= @preview_class.name %>: <%= @prompt.name %>
</h1>
<div class="pb-2">
  <%= link_to "<< Back to prompts", "/action_prompt/previews", class: "cursor-pointer text-blue-500 underline hover:text-blue-600 text-sm" %>
</div>
<div class="py-2">
  <div>
    Output
  </div>
  <div class="bg-gray-100 p-2 rounded-md border shadow-sm">
    <%= @prompt_output %>
  </div>
</div>