<h1 class="text-xl font-semibold">
  <%= @preview_class.display_name %>: <%= @prompt.name %>
</h1>
<div class="pb-2">
  <%= link_to "<< Back to prompts", "/action_prompt/previews", class: "cursor-pointer underline text-blue-600 hover:text-blue-800 text-sm" %>
</div>
<div class="py-2">
  <div>
    Output
  </div>
  <div class="bg-gray-100 p-2 rounded-md border shadow-sm" style="word-wrap: break-word; white-space: pre-wrap;"><%= @prompt_output %></div>
</div>