<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @page_title %></title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-yellow-100 pt-2">

<div class="mx-auto w-2/3 bg-white rounded-lg p-8 shadow-lg">
<%= yield %>
</div>

</body>
</html>